.header-container{
    display: flex;
    justify-content:space-evenly;
    margin: 20px 196px;
    padding: 30px;
    width: auto;
    height: 100vh;
    gap: 2rem;
    
    .card-cristalina{
        background-color: var(--color-primario);
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 150px 40px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        
        .txt1{
            color: var(--color-fondo);
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            line-height: 1;
            padding: 0.1em;
            backdrop-filter: blur(10px); 
        }

        .txt2{
            color: var(--color-fondo);
            font-family: var(--titulo);
            font-size: 5rem;
            font-weight: bold;
            letter-spacing: 0.069em;
            padding: .38em;
            line-height: 1; 
            backdrop-filter: blur(10px);
        }  
    }
    .card-cristalina:hover {
        box-shadow: 0 8px 16px 0 rgba(245, 245, 245, 0.497);
    }

    .card-flamenco{
        background-color: var(--color-resalte);
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 150px 30px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        .txt1{
            color: var(--color-fondo);
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            line-height: 1;
            padding: 0.1em;
            backdrop-filter: blur(10px); 
        }

        .txt2{
            color: var(--color-fondo);
            font-family: var(--titulo);
            font-size: 5rem;
            font-weight: bold;
            letter-spacing: 0.069em;
            padding: .38em;
            line-height: 1; 
            backdrop-filter: blur(10px);
        }     
    } 
    .card-flamenco:hover {
        box-shadow: 0 8px 16px 0 rgba(245, 245, 245, 0.497);
    }
}