/* Elementos universales para toda la plataforma */
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--texto);
  color: var(--color-texto);
  font-size: 16px;
  font-weight: normal;
}

/* Inicio de la plataforma */
.App-header {
  background-image: url('./../public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; 
  
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

.App-header .header-container{
  margin: 30px 196px;
  width: 550px;
  height: auto;

  .Titulo{
    font-family: var(--titulo);
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.069em;
    padding: .38em;
    text-align: left;
    line-height: 1.3; 
    backdrop-filter: blur(10px);
  }
  .Subtitulo{
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: justify;
    line-height: 1.5;
    padding: 1.25em;
    backdrop-filter: blur(10px);
  }
  .btn{
    font-size: 1.5rem;
    padding: 1.25em;
  }
  .btn button{
    color: var(--color-fondo);
    letter-spacing: 0.1em;
    padding: 0.7em;
    background: var(--color-segundario);
    border: 0.1em solid transparent;
    border-radius: 0.7em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .btn button:hover{
    background-color: var(--color-resalte);
    transform: scale(1.1);
    border: 0.2em solid var(--color-fondo);
    box-shadow: 0em 0.2em #ffffff46;
  }
  
}

/* Secciones de la plataforma*/
/* Lema de la empresa */
.App-body .eslogan{
  background-color: var(--color-primario2);
  background-image: url(.././public/olas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh; 
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: left;

  .eslogan-container{
    margin: 30px 196px;
    width: 1500px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 80px 0;
    align-self: center;

    .txt-superior{
      font-family: var(--titulo);
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: 0.069em;
      text-align: left;
      padding: 10px 0;
    
      .resaltado-sup{
        font-family: var(--titulo);
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 0.069em; 
        color: var(--color-segundario);
      }
    }

    .txt-inferior{
      font-family: var(--titulo);
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: 0.069em; 
      text-align: right;
      padding: 10px 0;
    
      .resaltado-inf{
        font-family: var(--titulo);
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 0.069em; 
        background-color: var(--color-resalte);
        color: var(--color-fondo);
        padding: 10px;
      }
    }
  }

}

/* Display de productos */
.App-body .productos{
  background-color: #E1E4E6;
  min-height: 90vh;
  display: flex;
  font-size: 18px;

  .margen{
    flex-grow: 1;
  }

  .contenido-productos{
    background-color: transparent;
    flex-grow: 4;
    display: grid;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,25rem) 1fr));

    .txt-productos{
      grid-column: 1/4;
      grid-row: 1/1;

      .txt{
        font-size: 5em;
        font-family: var(--titulo);
        color: var(--color-texto);
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 1.3;
        align-self: center;
      }
    }
    

    .btn-carrusel{
      grid-column: 4/5;
      grid-row: 1/1;

      .btn{
        font-family: var(--texto);
        color: var(--color-texto);
        font-weight: normal;
        letter-spacing: 1.5px;
        font-size: 30x;
        line-height: 1.3;
        align-self: center;

      }
    }

    .btn-catalogo{
      grid-column: 1/1;
      grid-row: 2/5;
      padding-top: 30px;

      .boton button{
        font-family: var(--texto);
        color: var(--color-fondo);
        font-weight: normal;
        letter-spacing: 1.5px;
        font-size: 24px;
      
        line-height: 1.3;
        align-self: center;
        padding: 9px 25px;
        background: var(--color-segundario);
        border: 2px;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      .boton button:hover{
        background-color: var(--color-resalte);
        color: var(--color-fondo);
        transform: scale(1.1);
      }
    }

    .carrusel{
      background-color: #ddea4c;
      grid-column: 2/5;
      grid-row: 2/5;
    }

  }

}

/* quienes somos / produccion */
.App-body .quienes-somos {
  background-color: var(--color-fondo);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Definir dos columnas */
  position: relative;
  font-size: 18px;
  align-items: center;
  justify-content: center;

  .block-left {
    background-color: var(--color-resalte);
    
  }
  
  .info-container {
    
    margin-left: 196px;
    margin-right: 196px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    grid-column: 1/2;
    grid-row: 1;
    
    .txt-titulo {
      font-size: 5em;
      font-family: var(--titulo);
      color: var(--color-texto);
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 1.3;
      align-self: center; 
    }
    
    .txt {
      font-size: 1.5em;
      font-family: var(--texto);
      color: var(--color-texto);
      font-weight: normal;
      letter-spacing: 1.5px;
      line-height: 1.5;
      align-self: center; 
      margin-top: 30px;
      text-align: justify;
    }
  }

  .block-right {
    flex-grow: 1;
    z-index: 1;
    background-color: var(--color-resalte);
    .img-container {
      background-image: url('./../public/instalaciones.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; 
      grid-column: 2/3;
      grid-row: 1;
      width: 100%; 
      height: auto; 
    }
  }
}

.App-body .quienes-somos .botella{
    position: absolute;
    left: 800px;
    transform: rotate(3deg);
    z-index: 2; 
  
}


/* reserva */
.App-body .reserva{
  min-height: 100vh;
  display: flex;
  font-size: 18px;

  .img-repartidor{
    background-image: url('./../public/Repartidor.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    z-index: 1;
  }
  .info-reserva{
    background-color: var(--color-primario);
    flex-grow: 1;
    width: 100px;

    .txt-container{
      margin-left: 100px;
      margin-top: 15vh;
      margin-right: 196px;
    }

    .txt{
        font-size: 5em;
        font-family: var(--titulo);
        color: var(--color-texto);
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 1.3;
        align-self: center;
        
    }
    .txt-info{
      font-size: 1.5em;
      font-family: var(--texto);
      color: var(--color-texto);
      font-weight: normal;
      letter-spacing: 1.5px;
      line-height: 1.3;
      align-self: center;
      margin-top: 30px;  
    }

    .btn-whs .boton button{
      margin-top: 30px; 
      font-family: var(--texto);
      color: var(--color-fondo);
      font-weight: normal;
      letter-spacing: 1.5px;
      font-size: 24px;
    
      line-height: 1.3;
      align-self: center;
      padding: 9px 25px;
      background: #075E54;
      border: 2px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }
    .btn-whs .boton button:hover{
      background-color:	#29A71A;
      color: var(--color-texto);
      transform: scale(1.1);
    }
 }
}

/* Pie de la plataforma */
.App-footer .top{
  background-color: var(--color-texto);
  color: var(--color-fondo);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  .txt{
    color: var(--color-fondo);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px){
  .App-header .Titulo {
    font-size: 60px;
    margin-left: 70px;
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}