:root {
  --titulo: 'Outfit', sans-serif;
  --texto:'Zilla Slab', serif;

  --color-fondo:#D8D9DD;
  --color-primario: #6AA0C9;
  --color-primario2:#CFDAE2;
  --color-segundario: #22437E;
  --color-resalte:#D48EB0;
  --color-texto: #180202;
}

body {
  background: var(--color-fondo);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
